body{
    background-color: RGB(20, 20, 20, 0.987);
    color: white;
}

hr{
    border: 5px solid white;
    margin: 40px 0;
}
a{
    text-decoration: none;
    color: yellow
}
table, td, tr{
    border: 0px solid white;
    padding: 0px 20px;
}
.eheto{
    font-size: 40px;
    color: RGB(0, 150, 0)
}

.figyelem{
        font-size: 20px;
        color: RGB(255, 0, 0)
}

.border_eheto {
    border: 10px solid rgb(0, 150, 0);
    text-align: justify;
    width: fit-content;
    align-self: center;
    border-radius: 5vh;
}

.border_nemeheto {
    border: 10px solid rgb(255, 0, 0);
    text-align: justify;
    width: fit-content;
    align-self: center;
    border-radius: 5vh;
}